body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.resultado b {
    width: 170px;
    display: inline-block;
}

pre {
    font-family: Consolas, monospace;
    display: block;
    clear: both;
    padding: 20px;
    background: #eee;
    border: 2px dashed #fd5708;
}

.divider{
    clear: both;
}

.h1{
    margin-left: 41%;
    margin-top: 4%;
    float: left;
}

.h1IP{
    margin-left: 0.5%;
    margin-top: 4%;
    float: left;
    color: #fd5708;
}

.form{
    margin-top: -11%;
    margin-left: 22%;
    width: 27.5%;
    border-right: 2px solid #fd5708;
}

.input_text{
    margin-bottom: 5%;
    width: 80% !important;
}

.input_submit{
    width: 68%;
    margin-left: 5%;
    border-radius: .25rem;
    border: 2px solid #fd5708;
    background-color: white;
}

#calculadora_centro{
    margin-left: 7%;
    margin-top: 10%;
    width: 11%;
}

.resultado2{
    width: 33%;
    margin-left: 58%;
    margin-top: -11%;
    font-size: 15px;
}